<%- include('partials/head') %>
<%- include('partials/navbar') %>
<link rel="stylesheet" href="/static/home.css">

<body>
   
   <!-- <img class="image" src="https://images.unsplash.com/photo-1615873968403-89e068629265?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
<h1>Made To Measure</h1> -->

<div class="banner-card">
    <img src="https://images.unsplash.com/photo-1615873968403-89e068629265?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
<div class="banner-text"><h1>Made <br>To  Measure</h1>
<p>Elegance in every detail</p>
<button>Book your Order now</button></div>

<div class="para">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus esse tenetur iusto adipisci! Excepturi debitis sequi suscipit adipisci nobis modi quos voluptas velit error. Quis labore nobis quasi illo quae.
Sunt necessitatibus alias velit repudiandae sint, rem repellendus consectetur, quo cum doloribus cumque illo est, excepturi aut amet mollitia consequatur numquam placeat vel laborum! Tenetur quam illo consectetur illum dolorem!</p>
</div></div></div>
 
<div class="section">
    <div class="text">
        <h1>Creating wonders in <br> small  spaces</h1>
        <p> <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus repudiandae omnis illo voluptatem maxime, doloribus reiciendis magnam nisi reprehenderit quibusdam vel iste accusamus. Neque deleniti id nihil molestias fugit.
        Ullam ipsa optio voluptate reiciendis,</section>
        <section> repellendus ex excepturi aperiam atque recusandae voluptates beatae. Dicta id molestiae quam quas perferendis unde neque aperiam nisi provident. Mollitia repellendus sequi cupiditate similique provident.</section>
        <section>Enim nulla explicabo autem doloribus reiciendis aliquid sit provident, quas fuga! Ea eveniet placeat est, ullam iure a repudiandae natus officia neque itaque voluptatibus numquam molestiae ut, nemo quaerat sequi.</section>
    </div>
    <img src="https://images.unsplash.com/photo-1604578762246-41134e37f9cc?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </p>
    
</div>


    <div class="image">
        <img src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
   <div class="image-text">
    <h1>INTERIOR DESIGN SERVICE</h1>
    <div class="paragraph">
        <div class="p1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam error, ab quaerat quibusdam libero eligendi aut accusantium obcaecati assumenda ipsa, vero quo modi. Itaque quaerat vel repellat voluptatum mollitia.</p></div>
        <div class="p2"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam error, ab quaerat quibusdam libero eligendi aut accusantium obcaecati assumenda ipsa, vero quo modi. Itaque quaerat vel repellat voluptatum mollitia.</p></div>
        <div class="p3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam error, ab quaerat quibusdam libero eligendi aut accusantium obcaecati assumenda ipsa, vero quo modi. Itaque quaerat vel repellat voluptatum mollitia.</p></div>
        <div class="p3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam error, ab quaerat quibusdam libero eligendi aut accusantium obcaecati assumenda ipsa, vero quo modi. Itaque quaerat vel repellat voluptatum mollitia.</p></div>
    </div><div class="p3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam error, ab quaerat quibusdam libero eligendi aut accusantium obcaecati assumenda ipsa, vero quo modi. Itaque quaerat vel repellat voluptatum mollitia.</p></div>
<button>Order now</button>
</div>
   
    </div>
   
    </div>
   





</body>
<%- include('partials/footer') %>
</html